/* Added by me */
#home:link, #home:visited {
    text-decoration: none; /* To remove the default underline of a link */
    background-color: yellow;
    color: green;
    display: block; /* To display an element like a block element */
    width: 200px;   /* Width of the block/box */
    box-sizing: border-box; /* Including border, padding and content */
    border: 1px solid blue;
    margin-bottom: 1px;
    text-align: center;
    }
#home:hover, #home:active { /* Active = clicked but not yet release */
    font-weight: bold;
  }
